background: url(sprites.png) no-repeat;
}



.s-01{
	background-position: -2px -2px ;

	width: 80px;
	height: 64px;
}



.s-02{
	background-position: -108px -2px ;

	width: 90px;
	height: 64px;
}



.s-03{
	background-position: -216px 0;
	width: 90px;
	height: 64px;
}



.electrical{
	background-position: 0 -95px ;
	width: 150px;
	height: 150px;
}



.Mechanical{
	background-position: -162px -93px ;
	width: 150px;
	height: 150px;
}



.facebook{
	background-position: -331px -13px ;
	width: 8px;
	height: 16px;
}



.linkedin{
	background-position: -332px -94px ;
	width: 16px;
	height: 15px;
}



.rss{
	background-position: -329px -52px ;
	width: 15px;
	height: 15px;
}



.Rectangle-17_02{
	background-position: 0 -259px ;
	width: 260px;
	height: 260px;
}



.twitter{
	background-position: -331px -166px ;
	width: 17px;
	height: 13px;
}



.Shape1{
	background-position: -335px -196px ;
	width: 10px;
	height: 9px;
}



.Shape2{
	background-position: -334px -220px ;
	width: 10px;
	height: 9px;
}



.skype{
	background-position: -330px -130px ;
	width: 16px;
	height: 16px;
}



.truck{
	background-position: -270px -263px ;
	width: 32px;
	height: 26px;
}



.settings-copy{
	background-position: 282px -486px ;
	width: 32px;
	height: 32px;
}



.set1{
	background-position: -274px -302px ;
	width: 32px;
	height: 32px;
}



.search{
	background-position: -283px -467px ;
	width: 14px;
	height: 14px;
}



.par1{
	background-position: -274px -351px ;
	width: 32px;
	height: 32px;
}



.location{
	background-position: -279px -444px ;
	width: 12px;
	height: 16px;
}



.iPhone-potrait{
	background-position: -274px -404px ;
	width: 10px;
	height: 16px;
}



.front-email{
	background-position: -290px -399px ;
	width: 16px;
	height: 12px;
}



.Layer-23{
	background-position: -356px -5px ;
	width: 143px;
	height: 62px;
}



.Layer-24{
	background-position: -363px -185px ;
	width: 143px;
	height: 62px;
}



.Layer-25{
	background-position: -355px -378px ;
	width: 143px;
	height: 62px;
}



.Layer-26{
	background-position: -361px -268px ;
	width: 143px;
	height: 62px;
}



.Layer-27{
	background-position: -360px -98px ;
	width: 143px;
	height: 62px;
}



.Layer-22{
	background-position: -332px -458px ;
	width: 184px;
	height: 64px;
}

