background: url(sprites.png) no-repeat;
}



.Layer-15{
	background-position: 0 -3px ;
	width: 260px;
	height: 260px;
}



.r4a015322_rrdJD{
	background-position: -270px -4px ;
	width: 260px;
	height: 260px;
}


.Selective{
	background-position: 0 -271px ;
	width: 260px;
	height: 260px;
}



.Untitled1{
	background-position: -271px -272px ;
	width: 260px;
	height: 260px;
}

